<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>网络拓扑图</title>
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-plus"></script>
    <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <style>
        #app {
            margin: 20px;
        }
        #network {
            width: 100%;
            height: 80vh;
            border: 1px solid gray;
        }

        .el-dialog__body {
            text-align: left;
        }
        .el-button--primary {
            margin-bottom: 20px;
            transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
        }
        .el-button--primary:hover {
            background-color: #409EFF;
            box-shadow: 0 4px 14px 0 rgba(0,0,0,0.1), 0 2px 4px 0 rgba(0,0,0,0.06);
            transform: translateY(-2px);
        }
        .el-button--primary:active {
            transform: translateY(-1px);
        }
    </style>

</head>
<body>
    <div id="app">
{#        <el-button :loading="isLoading" @click="fetchTopology" type="primary">加载拓扑</el-button>#}
        <div id="network"></div>
        <el-alert v-if="errorMessage" :title="errorMessage" type="error" show-icon></el-alert>
    </div>

    <script>
        const { createApp, ref, onUnmounted } = Vue;
        const { ElButton, ElAlert } = ElementPlus;

        createApp({
            setup() {
                const network = ref(null);
                const isLoading = ref(false);
                const errorMessage = ref('');
                const intervalId = ref(null);
                const dashOffset = ref(0);

                const fetchTopology = () => {
                    isLoading.value = true;
                    errorMessage.value = '';
                    axios.get('http://127.0.0.1:8000/controller/genTopo')
                        .then(response => {
                            console.log(response.data.data);
                            processData(response.data.data);
                            isLoading.value = false;
                        })
                        .catch(error => {
                            console.error('Error fetching topology:', error);
                            errorMessage.value = '加载拓扑数据失败！请检查控制台了解详细信息。';
                            isLoading.value = false;
                        });
                };

                const processData = (data) => {
                    const nodes = [];
                    const edges = [];
                    const nodeMap = new Map();

                    // 添加控制器节点
                    let id = 0;
                    nodes.push({
                        id: id,
                        label: 'controller',
                        shape: 'image',
                        image: '/static/plugins/images/controller.png',
                        size: 30,
                        font: {
                            color: '#4B4B4B',
                            face: 'Arial',
                            vadjust: -13
                        },
                        color: {
                            background: '#FF6347',
                            border: '#D2E5FF',
                            highlight: {
                                background: '#FF6347',
                                border: '#FF6347'
                            }
                        }
                    });
                    nodeMap.set('controller', id);
                    id++;

                    Object.keys(data).forEach(network => {
                        if (!nodeMap.has(network)) {
                            nodes.push({
                                id: id,
                                label: network,
                                shape: 'image',
                                image: '/static/plugins/images/router.png',
                                size: 30,
                                font: {
                                    color: '#4B4B4B',
                                    face: 'Arial',
                                    vadjust: -22
                                },
                                color: {
                                    background: '#97C2FC',
                                    border: '#2B7CE9',
                                    highlight: {
                                        background: '#D2E5FF',
                                        border: '#2B7CE9'
                                    }
                                }
                            });
                            nodeMap.set(network, id);
                            id++;
                        }
                        // 遍历data数组，为每个设备及其连接创建节点和边
                        data.forEach(device => {
                            if (!nodeMap.has(device.deviceId)) {
                                nodes.push({
                                    id: device.deviceId,
                                    label: `设备${device.deviceId}: ${device.srcIP}`,
                                    shape: 'image',
                                    image: '/static/plugins/images/router.png',
                                    size: 30,
                                    font: {
                                        color: '#4B4B4B',
                                        face: 'Arial',
                                        vadjust: -8
                                    },
                                    color: {
                                        background: '#97C2FC',
                                        border: '#2B7CE9',
                                        highlight: {
                                            background: '#D2E5FF',
                                            border: '#2B7CE9'
                                        }
                                    }
                                });
                                nodeMap.set(device.deviceId, device.deviceId);
                            }

                            // 查找下一个设备（next_hop）并连接
                            if (device.next_hop) {
                                const nextDevice = data.find(d => d.srcIP.split('/')[0] === device.next_hop); // 使用srcIP分割以匹配next_hop
                                if (nextDevice && !nodeMap.has(nextDevice.deviceId)) {
                                    nodes.push({
                                        id: nextDevice.deviceId,
                                        label: `设备${nextDevice.deviceId}: ${nextDevice.srcIP}`,
                                        shape: 'image',
                                        image: '/static/plugins/images/router.png',
                                        size: 30,
                                        font: {
                                            color: '#4B4B4B',
                                            face: 'Arial',
                                            vadjust: -8
                                        },
                                        color: {
                                            background: '#97C2FC',
                                            border: '#2B7CE9',
                                            highlight: {
                                                background: '#D2E5FF',
                                                border: '#2B7CE9'
                                            }
                                        }
                                    });
                                    nodeMap.set(nextDevice.deviceId, nextDevice.deviceId);
                                }

                                // 添加边，连接当前设备的出接口到下一个设备的入接口
                                if (nextDevice) {
                                    edges.push({
                                        from: nodeMap.get(device.deviceId),
                                        to: nodeMap.get(nextDevice.deviceId),
                                        label: `出端口: ${device.outInterface} -> 入端口:${nextDevice.inInterface}`,
                                        font: { align: 'top' },
                                        color: '#848484',
                                        arrows: {
                                            to: { enabled: false, scaleFactor: 1.2 }
                                        },
                                        dashes: false // 使用实线连接
                                    });
                                }
                            }
                        });

                    });

                    // 添加所有节点到控制器的连接
                    nodeMap.forEach((value, key) => {
                        if (key !== 'controller') {
                            edges.push({
                                from: value,
                                to: nodeMap.get('controller'),
                                label: '',
                                font: { align: 'top' },
                                color: '#848484',
                                arrows: { to: { enabled: false } }, // 禁用箭头
                                dashes: [5, 5],
                                toController: true  // 特定标识符用于动画
                            });
                        }
                    });
                    initNetwork(nodes, edges);
                };

                const initNetwork = (nodes, edges) => {
                    const container = document.getElementById('network');
                    const data = {
                        nodes: new vis.DataSet(nodes),
                        edges: new vis.DataSet(edges)
                    };
                    const options = {
                        layout: {
                            randomSeed: undefined,  // 可以指定随机种子以获得重复的结果
                            improvedLayout: true
                        },
                        physics: {
                            enabled: true,  // 启用物理效果以使节点自然分散
                            solver: 'forceAtlas2Based',
                            forceAtlas2Based: {
                                gravitationalConstant: -400,  // 引力常数，负值表示斥力
                                centralGravity: 0.01,  // 中心引力
                                springLength: 400,  // 弹簧长度，控制节点之间的距离
                                springConstant: 0.05,  // 弹簧常数
                                damping: 0.4,  // 阻尼
                                avoidOverlap: 0.4  // 避免重叠
                            },
                            stabilization: { iterations: 150 }  // 稳定迭代次数
                        },
                        nodes: {
                            borderWidth: 2,
                            size: 30,
                            color: {
                                border: '#406897',
                                background: '#6AAFFF'
                            },
                            font: { color: '#eeeeee' }
                        },
                        edges: {
                            width: 2,
                            length: 200,
                            color: 'lightgray',
                            arrows: {
                                to: { enabled: true, scaleFactor: 1.2 }
                            },
                            smooth: {
                                type: 'cubicBezier',
                                forceDirection: 'vertical',
                                roundness: 0.4
                            }
                        }
                    };

                    if (network.value) {
                        network.value.destroy();
                    }
                    network.value = new vis.Network(container, data, options);
                    startEdgeAnimation();
                };

                    const startEdgeAnimation = () => {
                    const updateEdges = () => {
                        dashOffset.value = (dashOffset.value + 0.03) % 10;
                        const updatedEdges = network.value.body.data.edges.get({
                            returnType: 'Object',
                            filter: function (item) {
                                return item.toController === true;  // 只选取到控制器的连接
                            }
                        });
                        for (const edgeId in updatedEdges) {
                            const edge = updatedEdges[edgeId];
                            network.value.body.data.edges.update({
                                id: edgeId,
                                dashes: [5, 5, 0, dashOffset.value]
                            });
                        }
                    };

                    intervalId.value = setInterval(updateEdges, 50);
                };

                onUnmounted(() => {
                    if (intervalId.value) {
                        clearInterval(intervalId.value);
                    }
                });

                return { fetchTopology, isLoading, errorMessage };
            },
            mounted() {
                this.fetchTopology();
            },
            components: {
                ElButton,
                ElAlert
            }
        }).mount('#app');
    </script>
</body>
</html>